.form-control {
	display: block;
	width: 50% !important;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: darkseagreen !important;
    color: white !important;
}